html {
    background-color: lightcoral;
}

h1,h2,h3 {
    text-align: center;
}

h3 {
    background-color: blanchedalmond;
    font-size: 24px;
    border-radius: 10%;
}

.top-container {
    height: 200px;
    line-height: 150px;
}

img {
    height: 300px;
    width: 100%;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    background-color: blanchedalmond;
    text-align: center;
    padding: 20px;
}

.container {
    display: grid;
    gap: 20px;
    row-gap: 40px;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr;
}

.dog-card {
    width: 400px;
    border: 10px solid blanchedalmond;
    border-radius: 10%;
}